.garage-info {
  &__name {
    text-align: center;
  }

  &__metric {
    text-align: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 15px;
  }
}
